
<launch>
  <arg name="scan_topic"  default="/scan" />
  <arg name="base_frame"  default="base_link"/>
  <arg name="odom_frame"  default="odom"/>

  <param name="use_sim_time" value="true"/>

 <!-- <node pkg="tf" type="static_transform_publisher" name="odom" args="1 0 0 0 0 0 1 link_chassis odom 100" />-->
  
  <!--TF-->
<!--<node pkg="tf" type="static_transform_publisher" name="map_2_odom" args="0 0 0 0 0 0 /map /odom 100"/>-->
  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_2_laser_link" args="0.75 0 0.14 0 0 0 1 link_chassis sensor_laser 100"/>
  
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find m2wr_description)/urdf/m2wr.xacro'"/>
  <node pkg="rviz" type="rviz" name="rviz"></node>-->
 
   <!-- Run the map server -->
<!--  <arg name="map_file" default="$(find motion_plan)/maps/orchard.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>	
    <param name="odom_frame" value="$(arg odom_frame)"/>	<!-- frame attached to the odometry system -->
    
    <param name="map_update_interval" value="1.0"/>		<!-- how long (in seconds) between updates to the map -->

<!-- Laser Parameters -->

    <param name="maxUrange" value="9.0"/>			<!-- max usable laser range -->
    <param name="maxRange" value="9.0"/>			<!-- max range of the sensor. To be set higher than the real sensor max range -->
    <param name="sigma" value="0.05"/>				<!-- standard deviation for the scan matchin process [default]-->
    <param name="kernelSize" value="1"/>			<!-- [default] -->
    <param name="lstep" value="0.05"/>				<!-- initial search step for scan matching (linear) [default] -->
    <param name="astep" value="0.05"/>				<!-- initial search step for scan matching (angular) [default] -->
    <param name="iterations" value="5"/>			<!-- the number of iterations of the scanmatcher [default] -->
    <param name="lsigma" value="0.075"/>			<!-- standard deviation for the scan matching process (single laser beam) [default] -->
    <param name="ogain" value="3.0"/>				<!-- gain for smoothing the likelihood [default] -->
    <param name="lskip" value="0"/>				<!-- number of beams to skip in each scan [default] -->
    <param name="minimumScore" value="10"/>			<!-- minimum score for considering the outcome of the scanmatching good -->

<!-- Motion Model Parameters (all standard deviations of a gaussian noise model) -->

    <param name="srr" value="0.01"/>				<!-- Odometry error in translation as a function of translation [default] -->
    <param name="srt" value="0.02"/>				<!-- Odometry error in translation as a function of rotation [default] -->
    <param name="str" value="0.01"/>				<!-- Odometry error in rotation as a function of translation [default] -->
    <param name="stt" value="0.02"/>				<!-- Odometry error in rotation as a function of rotation [default] -->

    <param name="linearUpdate" value="0.5"/>			<!-- Process a scan each time the robot translates this far -->				
    <param name="angularUpdate" value="0.436"/>			<!-- Process a scan each time the robot rotates this far -->
    <param name="temporalUpdate" value="-1.0"/>			<!-- Process a scan if the last scan processed is older than the update time in seconds [default] -->
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="30"/>
  
    

<!--  make the starting size small for the benefit of the Android client's memory...-->
 
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>
 
 
    <param name="delta" value="0.05"/>				<!-- Resolution of the map -->
    <param name="llsamplerange" value="0.01"/>			<!-- [default] -->
    <param name="llsamplestep" value="0.01"/>			<!-- [default] -->
    <param name="lasamplerange" value="0.005"/>			<!-- [default] -->
    <param name="lasamplestep" value="0.005"/>			<!-- [default] -->
    <param name="transform_publish_period " value="0.05"/>
    <remap from="scan" to="$(arg scan_topic)"/> 
    
  </node>
</launch>
