#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)
gen.add("distance", double_t, 0, "Distance to which mark points", 10, 5, 50)
#this will generate a library with prefix TestLayer -> TestLayerConfig.h, located in test_layer_namespace/TestLayerConfig.h
exit(gen.generate("costmap_2d", "test_layer", "TestLayer"))
